services:
  static-site:
    image: nginx:alpine
    container_name: cartracker-static
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    expose:
      - "80"
    networks:
      - cartracker

  backend:
    build: ./backend
    expose:
      - "8000"
    volumes:
      - ./frontend:/frontend
    networks:
      - cartracker

  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: cartracker-npm
    restart: always
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt
    networks:
      - cartracker

networks:
  cartracker:
    driver: bridge